:root{
    --font-size-root: 17px;
    --font-em-color-root: black;

    --main-blue: #1692fdff;
    --secondary-blue: #87c8ffff;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* fonts and typography */
@font-face {
    font-family: "coolvetica";
    src: url(./assets/fonts/coolvetica_rg.otf);
    font-weight: 700;
    font-display: swap;
}

.font-coolvetica {
    font-family: "coolvetica";
    font-weight: 700;
    color: var(--font-em-color-root)
}

body{
    font-size: var(--font-size-root);
    font-family: 'Trebuchet MS', Tahoma, sans-serif;
    line-height: 1.25;
}

/*text formatting*/
.name-title{
    font-size: 3.5rem;
}

.name-highlight{
    content: "";
    background-color: var(--main-blue);
    color:white;
}

.content-container{
    max-width: 70rem;
    height: 100%;
    margin: 0 auto;
}

.center{
    align-self: start;
}

.center-child{
    display: flex;
    align-items: center;
    height: 50%;
}

.row {
    display: grid;
    margin-top: 0rem;
    margin-bottom: 1rem;
    column-gap: 1rem;
}

.row-1-2 {
    grid-template-columns: 33% 66%;
}

.intro-section{
    padding-top: 4rem;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 2rem;
    display: flex;
}

.section{
    padding-top: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 2rem;
}

.column{
    width: calc(100% - 1rem);
    height: 100%;
}

.left-padding{
    padding-left: 1rem;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

h2{
    font-size: 30px;
}

p{
    line-height: 1.5;
}

.list-unstyled {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

/*button formatting*/
.button{
    display: inline-block;
    font-size: 17px;
    color: inherit;
    text-align: center;
    text-decoration: none;

    border: 2px solid var(--main-blue);
    border-radius: 10px;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    margin-right: 0.75em;
    padding: 0.75em 1.5em;
    
    transition-duration: 0.1s;
}

.button:hover, .button:focus, .button-selected{
    background-color: var(--main-blue);
    color: white;
}
/*image formatting*/
.rounded {
    border-radius: 15px;
}

.block-responsive{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.img-shift{
    position: relative;
    top: 1rem;
    left: 1rem;
}

.silhouette-1 {
    padding: 0rem;
    background-color: var(--secondary-blue);
    max-width: 100%;
}

.silhouette-2 {
    padding: 0rem;
    background-color: var(--main-blue);
    max-width: 100%;
    position: relative;
    top: -2rem;
    left: -2rem;
}

/* other element formatting */
hr{
    background-color: var(--main-blue);
    height: 2px;
    border: none;
}