@keyframes my-keyframe {
    0% {background-color: rgb(255, 153, 0);}
    17% {background-color: rgb(255, 172, 46);}
    33% {background-color: rgb(247, 185, 93);}
    50% {background-color: rgb(248, 210, 153);}
    100% {background-color: rgb(255, 153, 0);}
}

body {
    width: 10000px;
    height: 1000px;
    background-color: rgb(255, 153, 0);
    animation-name: my-keyframe;
    animation-duration: 15s;
}

