body{
  font-size: var(--font-size-root);
  font-family: Arial, sans-serif;
  line-height: 1;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 200%;
  }