body, html {
    height: 100%;
    margin: 0;
}

@font-face {
  font-family: "athletics";
  src: url(./assets/AthleticsMedium.otf);
  font-weight: 700;
  font-display: swap;
}

.font-athletics {
  font-family: "athletics";
  font-weight: 700;
  color: black
}

@font-face {
  font-family: "sf-medium";
  src: url(./assets/SFPRODISPLAYMEDIUM.OTF);
  font-weight: 700;
  font-display: swap;
}

.font-sf-medium {
  font-family: "sf-medium";
  font-weight: 700;
  color: black;
}

@font-face {
  font-family: "sf";
  src: url(./assets/SFPRODISPLAYREGULAR.OTF);
  font-weight: 700;
  font-display: swap;
}

.font-sf {
  font-family: "sf";
  font-weight: 700;
  color: black;
}

body{
  font-size: var(--font-size-root);
  font-family: "Roboto", Tahoma, sans-serif;
  line-height: 1.25;
}
  
.bg {
    /* The image used */
    background-image: url("venmo_template_clean_11.jpg");
  
    /* Full height */
    height: 101%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}

.pfp_position{
  margin-top: 24.6%;
}

.pfp_format{
  width: 45px;
  height: auto;
  border-radius: 110px;
}

.name_position{
  margin-top: 38%;
}

.name_format{
  font-size: 123%;
  font-weight: 900;
}

.comment_position{
  margin-top: 45%;
}

.comment_format{
  font-size: 95%;
  font-weight: 200;
}

.date_position{
  text-align: left;
  margin-left: 4%;
  margin-top: 130.2%;
}

.date_format{
  font-size: 98%;
  font-weight: 1000;
  /* letter-spacing: 0.05rem; */
}

.paid_to_position{
  text-align: left;
  margin-left: 4%;
  margin-top: 147.2%;
}

.paid_to_format{
  font-size: 98%;
  font-weight: 1000;
  /* letter-spacing: 0.05rem; */
}

.amount_position{
  margin-top: 51%;
}

.amount_format{
  font-size: 150%;
  font-weight: 1100;
  color: #c2373c;
}

