body, html {
    height: 100%;
    margin: 0;
  }
  
.bg {
    /* The image used */
    background-image: url("venmo_template.jpg");
  
    /* Full height */
    height: 101%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pfp_position{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  margin-top: 125px;
}

.pfp_format{
  border-radius: 110px;

  width: 45px;
  height: auto;
}