 @keyframes my-keyframe {
    0% {background-color: purple;}
    17% {background-color: rgb(131, 35, 131);}
    33% {background-color: rgb(119, 61, 119);}
    50% {background-color: rgb(134, 98, 134);}
    100% {background-color: purple;}
}

body {
    width: 10000px;
    height: 1000px;
    background-color: purple;
    animation-name: my-keyframe;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

